@font-face {
    font-family: 'Bebas Neue Book';
    src: local('Bebas Neue Book Regular'), local('BebasNeueBook'),
        url('../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding: 12px 0 12px 0;
    border-bottom: #3596F5 4px solid;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 80px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.navbar-phone {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}

.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

path.current-floor {
    opacity: 1;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    font-family: "Bebas Neue Book";
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor-counter {
    font-family: "Bebas Neue Book";
    color: #635854;
    font-size: 124px;
}

.counter-button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.counter-arrow-down {
    transform: rotateX(180deg);
}

.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: white;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open>.modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.modal-image {
    background-color: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

.flats path:hover {
    opacity: 1;
}

.modal-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    font-family: "Bebas Neue Book";
    margin-top: 0;
    margin-bottom: 25px;
}

.modal-info {
    width: 40%;
    padding: 46px 50px;
}

.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;

}

.flat-item {
    margin-bottom: 10px;
}

.flat-link {
    color: #635854;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.flat-link:hover {
    color: #3596F5;
    text-decoration: underline;
}

.modal-alert {
    color: #635854;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 56px;

}